pyautogui
numpy
pygame
gtts
requests
Pillow
bs4
pygetwindow
screeninfo
ctypes
pynput
pyshortcuts
pytube
re
pyperclip
tkinter
python-minifier
hjson
json5
json
autoflake
py7zr
pyobjc
python-xlib
pydub
simpleaudio
vdf